.home {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    gap: 30px;
    padding: 60px 0 20px;
    transition: opacity 0.5s;
    background: radial-gradient(circle farthest-corner at top left, rgb(110 212 240) 0%, rgba(225, 243, 97, 0) 50%), radial-gradient(circle farthest-side at top right, rgb(92 40 86) 0%, rgba(181, 176, 177, 0) 10%), radial-gradient(circle farthest-corner at bottom right, rgb(127 80 143) 0%, rgba(204, 104, 119, 0) 33%), radial-gradient(circle farthest-corner at top right, rgb(202 191 209) 0%, rgba(155, 221, 240, 0) 50%), radial-gradient(ellipse at bottom center, rgb(174 159 193) 0%, rgba(254, 43, 0, 0) 80%);
}
@media (min-width: 768px) {
    .home {
        gap: 33px;
        padding: 67px 0 33px;
   }
}
@media (min-width: 1441px) {
    .home {
        gap: 50px;
        padding: 100px 0 50px;
   }
}
.home h1 {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 330px;
    font-family: 'Thunderstrike', serif;
    font-size: 50px;
    text-align: center;
    line-height: 0.8;
    color: transparent;
    background-clip: text;
    background-image: radial-gradient(farthest-corner at 40px 10px,#FF0000,#FFD700);
    -webkit-text-stroke: 2px black;
    padding: 10px 0;
}
@media (min-width: 425px) {
    .home h1 {
        width: 360px;
        font-size: 60px;
   }
}
@media (min-width: 768px) {
    .home h1 {
        width: 734px;
        font-size: 110px;
        padding: 10px 0;
        -webkit-text-stroke: 4px black;
   }
}
@media (min-width: 1441px) {
    .home h1 {
        width: 880px;
        font-size: 132px;
   }
}
@media (min-width: 1680px) {
    .home h1 {
        width: 1100px;
        font-size: 165px;
        -webkit-text-stroke: 6px black;
   }
}
.home h1::before {
    content: 'Welcome to the Dojo';
    font-family: 'Thunderstrike-Grad';
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    color: transparent;
    z-index: -1;
    -webkit-text-stroke: transparent;
    background-image: linear-gradient(#ffd700,#ffd700);
    background-clip: text;
}
@media (min-width: 768px) {
    .home h1::before {
        width: 734px;
        top: 20px;
        left: 10px;
   }
}
@media (min-width: 1441px) {
    .home h1::before {
        width: 880px;
   }
}
@media (min-width: 1680px) {
    .home h1::before {
        width: 1100px;
   }
}
.home h1:not(.hidden) {
    animation: home-title 0.7s linear 0s 1;
}
.home__btns, .home .pixText {
    transition: 0.5s ease-in 0.5s;
}
.home__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    z-index: 5;
}
@media (min-width: 768px) {
    .home__btns {
        flex-direction: row;
        gap: 33px;
   }
}
@media (min-width: 1441px) {
    .home__btns {
        gap: 50px;
   }
}
.home .pixText {
    text-align: center;
    line-height: 1.5;
    margin: auto 20px 0;
}
.home__char {
    display: block;
    position: absolute;
    width: 70px;
    transition: 0.5s;
}
@media (min-width: 425px) {
    .home__char {
        width: 90px;
   }
}
@media (min-width: 768px) {
    .home__char {
        width: 10vw;
   }
}
.home__char:not(.hidden) {
    animation: 0.7s linear 0s 1 char-brightness;
}
.home__char.hidden {
    opacity: 1;
    filter: brightness(0);
}
#homeChar1, #homeChar3, #homeChar5 {
    scale: -1 1;
}
#homeChar0, #homeChar3 {
    top: 200px;
    z-index: 1;
}
@media (min-width: 425px) {
    #homeChar0, #homeChar3 {
        top: 210px;
   }
}
@media (min-width: 768px) {
    #homeChar0, #homeChar3 {
        top: 5vw;
   }
}
#homeChar0 {
    left: 2vw;
}
@media (min-width: 768px) {
    #homeChar0 {
        left: 2vw;
   }
}
#homeChar3 {
    right: 2vw;
}
@media (min-width: 768px) {
    #homeChar3 {
        right: 2vw;
   }
}
#homeChar4, #homeChar5 {
    top: 270px;
    z-index: 2;
}
@media (min-width: 425px) {
    #homeChar4, #homeChar5 {
        top: 310px;
   }
}
@media (min-width: 768px) {
    #homeChar4, #homeChar5 {
        top: 13vw;
   }
}
#homeChar4 {
    left: 6vw;
}
@media (min-width: 768px) {
    #homeChar4 {
        left: 6vw;
   }
}
#homeChar5 {
    right: 6vw;
}
@media (min-width: 768px) {
    #homeChar5 {
        right: 6vw;
   }
}
#homeChar2, #homeChar1 {
    top: 340px;
    z-index: 3;
}
@media (min-width: 425px) {
    #homeChar2, #homeChar1 {
        top: 410px;
   }
}
@media (min-width: 768px) {
    #homeChar2, #homeChar1 {
        top: 21vw;
   }
}
#homeChar2 {
    left: 10vw;
}
@media (min-width: 768px) {
    #homeChar2 {
        left: 10vw;
   }
}
#homeChar1 {
    right: 10vw;
}
@media (min-width: 768px) {
    #homeChar1 {
        right: 10vw;
   }
}
