.perk {
    display: flex;
    position: relative;
    transition: 0.5s;
    width: 90%;
    gap: 20px;
}
@media (min-width: 768px) {
    .perk {
        width: 54px;
        gap: 0;
   }
}
@media (min-width: 1441px) {
    .perk {
        width: 80px;
   }
}
@media (min-width: 768px) {
    .perk:hover .perk__infos {
        display: block;
   }
}
@media (orientation: landscape) {
    .perk--fight {
        width: 54px;
        gap: 0;
   }
    .perk--fight .perk__img {
        width: 100%;
   }
}
@media (orientation: landscape) and (min-width: 1441px) {
    .perk--fight {
        width: 80px;
   }
}
@media (orientation: landscape) {
    .perk--fight .perk__infos {
        position: absolute;
        display: none;
        background-color: #64645a;
        width: 167px;
        padding: 13px 8px;
        overflow: visible;
        left: 50%;
        transform: translateX(-50%);
        bottom: calc(120%);
        text-align: center;
   }
    .perk--fight .perk__infos::before {
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 10px;
        background-color: #64645a;
        clip-path: polygon(0 0,100% 0,50% 100%);
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
   }
}
@media (orientation: landscape) and (min-width: 1441px) {
    .perk--fight .perk__infos {
        width: 250px;
        padding: 20px 10px;
   }
}
@media (orientation: landscape) {
    .perk--fight .perk__infos > div {
        display: flex;
        flex-direction: row;
        width: fit-content;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        animation: txt-perk 5s linear infinite alternate;
   }
}
.perk--fight .perk__infos__name {
    color: #fff;
    font-family: 'PressStart2P', sans-serif;
    font-size: 16px;
    white-space: nowrap;
}
@media (orientation: landscape) {
    .perk--fight .perk__infos__name {
        font-size: 12px;
        white-space: normal;
   }
}
@media (orientation: landscape) and (min-width: 1441px) {
    .perk--fight .perk__infos__name {
        font-size: 18px;
   }
}
.perk--fight .perk__infos__name::after {
    content: '-';
    display: inline-block;
    padding: 0 20px;
}
@media (orientation: landscape) {
    .perk--fight .perk__infos__name::after {
        content: none;
   }
}
.perk--fight .perk__infos__effect {
    color: #fff;
    font-family: 'SpaceGrotesk', sans-serif;
    font-size: 16px;
    white-space: nowrap;
}
@media (orientation: landscape) {
    .perk--fight .perk__infos__effect {
        margin-top: 10px;
        padding-top: 10px;
        border-top: solid 1px rgba(255,255,255,0.2);
        font-size: 12px;
        white-space: normal;
   }
}
@media (orientation: landscape) and (min-width: 1441px) {
    .perk--fight .perk__infos__effect {
        font-size: 16px;
   }
}
.perk.perk--available {
    filter: sepia(1);
    transform: scale(1.15) translateY(-20px);
}
.perk.perk--unavailable {
    filter: grayscale(1);
}
.perk.perk--ko .perk__img {
    clip-path: polygon(0 20%,20% 0,80% 0,100% 20%,100% 40%,61% 29%,66% 56%,50% 50%,76% 80%,76% 46%,100% 52%,100% 80%,80% 100%,20% 100%,0 80%,0 50%,39% 69%,36% 48%,50% 50%,23% 26%,25% 49%,0 37%);
}
.perk__img {
    margin: auto;
    position: relative;
    width: 20%;
    padding: 0;
    background: linear-gradient(45deg,#323232,#e3dfd3,#656565);
    clip-path: polygon(0 20%,20% 0,80% 0,100% 20%,100% 50%,73% 41%,68% 61%,50% 50%,68% 61%,73% 41%,100% 50%,100% 80%,80% 100%,20% 100%,0 80%,0 50%,34% 60%,34% 44%,50% 50%,34% 44%,34% 60%,0 50%);
    transition: 0.5s;
}
@media (min-width: 768px) {
    .perk__img {
        width: 100%;
   }
}
.perk__img::before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 100%;
}
.perk__img img {
    display: block;
    width: 80%;
    position: absolute;
    height: 80%;
    top: 10%;
    left: 10%;
    object-fit: contain;
    filter: drop-shadow(2px 4px 6px black);
}
.perk__infos {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: calc(80% - 20px);
}
@media (min-width: 768px) {
    .perk__infos {
        position: absolute;
        display: none;
        background-color: #64645a;
        width: 167px;
        padding: 13px 8px;
        overflow: visible;
        left: 50%;
        transform: translateX(-50%);
        bottom: calc(120%);
        text-align: center;
   }
    .perk__infos::before {
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 10px;
        background-color: #64645a;
        clip-path: polygon(0 0,100% 0,50% 100%);
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
   }
}
@media (min-width: 1441px) {
    .perk__infos {
        width: 250px;
        padding: 20px 10px;
   }
}
@media (max-width: 767px) {
    .perk__infos > div {
        display: flex;
        flex-direction: row;
        width: fit-content;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        animation: txt-perk 5s linear infinite alternate;
   }
}
.perk__infos__name {
    color: #fff;
    font-family: 'PressStart2P', sans-serif;
    font-size: 16px;
    white-space: nowrap;
}
@media (min-width: 768px) {
    .perk__infos__name {
        font-size: 12px;
        white-space: normal;
   }
}
@media (min-width: 1441px) {
    .perk__infos__name {
        font-size: 18px;
   }
}
.perk__infos__name::after {
    content: '-';
    display: inline-block;
    padding: 0 20px;
}
@media (min-width: 768px) {
    .perk__infos__name::after {
        content: none;
   }
}
.perk__infos__effect {
    color: #fff;
    font-family: 'SpaceGrotesk', sans-serif;
    font-size: 16px;
    white-space: nowrap;
}
@media (min-width: 768px) {
    .perk__infos__effect {
        margin-top: 10px;
        padding-top: 10px;
        border-top: solid 1px rgba(255,255,255,0.2);
        font-size: 12px;
        white-space: normal;
   }
}
@media (min-width: 1441px) {
    .perk__infos__effect {
        font-size: 16px;
   }
}
